html {
  scroll-behavior: smooth;
  line-height: initial;
  transition: 0.9s ease-in-out;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: 'Optima-Regular', sans-serif;   /* ← exact same as @font-face */
  font-weight: 400;        /* Optima Regular is usually 400, not 500 */
  line-height: 1.3;
  overflow-x: hidden;
}

p {
  font-size: 16px;
}

@font-face {
  font-family: 'Optima-Regular';
  src: url('../fonts/Optima-Regular.woff2');
  font-weight: 400;    
}


@font-face {
  font-family: 'Optima-Regular';
  src: url('../fonts/Optima-Bold.woff2');
  font-weight: 700;    
}

@font-face {
  font-family: 'Cheltenham';                       /* ← no space at the beginning */
  src: url('../fonts/CheltenhamStdBold.otf') format('opentype');  /* ← leading / + format */
  font-weight: 700;                                /* ← tell browser it's bold */
  font-display: swap;                              /* ← prevents invisible text */
}
.optima-regular {
  font-family: "optima-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.optima-medium {
  font-family: "optima-Regular", sans-serif;
  font-weight: 550;
  font-style: normal;
}

.optima-bold {
  font-family: "optima-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;                              /* ← prevents invisible text */
}


.cheltenham{
  font-family: 'Cheltenham', serif;
  font-weight: 700;
} 



/* .indivisible-bold {
  font-family: "indivisible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.albert-sans-regular {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fancy-header {
  font-size: 24px;
  font-family: 'amithen-regular', sans-serif;
} */

/* .title {
  font-size: 64px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 900;
} */

/* h1 {
  font-size: 52px;
  font-family: 'Cheltenham', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 32px;
  font-family: "Cheltenham", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h4 {
  font-size: 24px;
  font-family: "Cheltenham", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h5 {
  font-size: 18px;
  font-family: "Cheltenham", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
} */

@media (max-width: 821px) {
   h1 {
    font-size: 36px;
  }
  /* h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  .title {
    font-size: 50px;
  }

  .big-paragraph {
    font-size: 18px;
  } */
}
